<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyberpunk</title>
</head>
<body>
    <h1>Какую оценку вы бы поставили игре Cyberpunk 2077?</h1>
    <input type="radio" name="browser"> 1<Br>
    <input type="radio" name="browser"> 2<Br>
    <input type="radio" name="browser"> 3<Br>
    <input type="radio" name="browser"> 4<Br>
    <input type="radio" name="browser"> 5<Br>
    <input type="radio" name="browser"> 6<Br>
    <input type="radio" name="browser"> 7<Br>
    <input type="radio" name="browser"> 8<Br>
    <input type="radio" name="browser"> 9<Br>
    <input type="radio" name="browser"> 10<Br>
    <input type="submit" value="Отправить" onclick=" location.href=' /Спасибо/'  ">
</body>
</html>